<!DOCTYPE html>
<html>

<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



    <style>
.container {
    height: 100%;
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .w3-display-topleft {  
  width: 100%;
  padding: 20px;
  padding-top: 70px;}

  .main1{
  padding-top: 150px;
}
</style>
</head>


<body>

	<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  		<ul class="navbar-nav ml-auto">
    		<li class="nav-item">
      			<a class="nav-link" href="#">Problem</a>
    		</li>
    		<li class="nav-item">
      			<a class="nav-link" href="#">Dataset</a>
    		</li>
    		<li class="nav-item">
      			<a class="nav-link" href="#">About</a>
    		</li>
  		</ul>
	</nav>


  <div class="container">
  
  <h2><strong>Uploaded file not having 81 columns</strong><br>file must contain 81 column for predicting the classes</h2>



  
  </div> 



</body>


</html>
